In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import datetime as dt
from config import postgres_password
from config import postgres_port

In [2]:
# file paths
in_file_path = "../Resources/Visas/"
out_file_path = "../output/"

In [3]:
# read the inout file
csv_file = f"{in_file_path}us_perm_visas.csv"
print(f"Input file name: {csv_file}")
visa_data_df = pd.read_csv(filepath_or_buffer=csv_file, low_memory=False)
visa_data_df.head(5)

Input file name: ../Resources/Visas/us_perm_visas.csv

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,...,NaN,NaN,NaN,IT,75629.0,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,...,NaN,NaN,NaN,Other Economic Sector,37024.0,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,Aerospace,47923.0,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,...,NaN,NaN,NaN,Advanced Mfg,100000.0,NaN,yr,NaN,NaN,NaN

In [4]:
# Keep Important Columns
small_col_visa_df = visa_data_df[["case_no",
                                  "case_number",
                                  "case_status",
                                  "class_of_admission",
                                  "country_of_citizenship",
                                  "country_of_citzenship",
                                  "decision_date",
                                  "employer_country",
                                  "employer_num_employees",
                                  "employer_postal_code",
                                  "employer_state",
                                  "employer_yr_estab",
                                  "foreign_worker_info_birth_country",
                                  "fw_info_birth_country",
                                  "foreign_worker_info_education",
                                  "foreign_worker_info_major",
                                  "foreign_worker_info_postal_code",
                                  "fw_info_postal_code",
                                  "foreign_worker_info_rel_occup_exp",
                                  "fw_info_rel_occup_exp",
                                  "foreign_worker_info_state",
                                  "foreign_worker_info_training_comp",
                                  "fw_info_training_comp",
                                  "foreign_worker_ownership_interest",
                                  "fw_ownership_interest",
                                  "foreign_worker_yr_rel_edu_completed",
                                  "fw_info_yr_rel_edu_completed",
                                  "ji_offered_to_sec_j_foreign_worker",
                                  "ji_offered_to_sec_j_fw",
                                  "job_info_education",
                                  "job_info_work_postal_code",
                                  "job_info_work_state",
                                  "orig_file_date",
                                  "pw_amount_9089",
                                  "pw_unit_of_pay_9089",
                                  "wage_offer_from_9089",
                                  "wage_offer_unit_of_pay_9089",
                                  "wage_offered_from_9089",
                                  "wage_offered_unit_of_pay_9089"]]
small_col_visa_df.head(5)

,case_no,case_number,case_status,class_of_admission,country_of_citizenship,country_of_citzenship,decision_date,employer_country,employer_num_employees,employer_postal_code,...,job_info_education,job_info_work_postal_code,job_info_work_state,orig_file_date,pw_amount_9089,pw_unit_of_pay_9089,wage_offer_from_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_unit_of_pay_9089
0,A-07323-97014,NaN,Certified,J-1,NaN,ARMENIA,2012-02-01,NaN,NaN,10010.0,...,NaN,NaN,NY,NaN,75629.0,yr,75629.0,yr,NaN,NaN
1,A-07332-99439,NaN,Denied,B-2,NaN,POLAND,2011-12-21,NaN,NaN,7072.0,...,NaN,NaN,NY,NaN,37024.0,yr,37024.0,yr,NaN,NaN
2,A-07333-99643,NaN,Certified,H-1B,NaN,INDIA,2011-12-01,NaN,NaN,23059.0,...,NaN,NaN,MD,NaN,47923.0,yr,47923.0,yr,NaN,NaN
3,A-07339-01930,NaN,Certified,B-2,NaN,SOUTH KOREA,2011-12-01,NaN,NaN,11354.0,...,NaN,NaN,NY,NaN,10.97,hr,10.97,hr,NaN,NaN
4,A-07345-03565,NaN,Certified,L-1,NaN,CANADA,2012-01-26,NaN,NaN,12204.0,...,NaN,NaN,NY,NaN,94890.0,yr,100000.0,yr,NaN,NaN

In [5]:
csv_file = f"{out_file_path}visa_small0.csv"
print(f"Ouput file name: {csv_file}")
small_col_visa_df.to_csv(csv_file, index=False, header=True)

Ouput file name: ../output/visa_small0.csv

# Combine Similar Columns

In [6]:
#Case Number
small_col_visa_df['case_number'].fillna(small_col_visa_df['case_no'], inplace = True)
small_col_visa_df['case_number'].head()

C:\Users\Kannappan\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

0    A-07323-97014
1    A-07332-99439
2    A-07333-99643
3    A-07339-01930
4    A-07345-03565
Name: case_number, dtype: object

In [7]:
csv_file = f"{out_file_path}visa_small1.csv"
print(f"Ouput file name: {csv_file}")
small_col_visa_df.to_csv(csv_file, index=False, header=True)

Ouput file name: ../output/visa_small1.csv

In [8]:
#Country of Citizenship
small_col_visa_df['country_of_citizenship'].fillna(small_col_visa_df['country_of_citzenship'], inplace = True)

In [9]:
#FW Birth Country
small_col_visa_df['foreign_worker_info_birth_country'].fillna(small_col_visa_df['fw_info_birth_country'], inplace = True)

In [10]:
#FW Postal Code
small_col_visa_df['foreign_worker_info_postal_code'].fillna(small_col_visa_df['fw_info_postal_code'], inplace = True)

In [11]:
#FW Has Required Experience?
small_col_visa_df['foreign_worker_info_rel_occup_exp'].fillna(small_col_visa_df['fw_info_rel_occup_exp'], inplace = True)

In [12]:
#FW completed Required Training?
small_col_visa_df['foreign_worker_info_training_comp'].fillna(small_col_visa_df['fw_info_training_comp'], inplace = True)

In [13]:
#FW has ownership interest?
small_col_visa_df['foreign_worker_ownership_interest'].fillna(small_col_visa_df['fw_ownership_interest'], inplace = True)

In [14]:
#FW has required Education?
small_col_visa_df['foreign_worker_yr_rel_edu_completed'].fillna(small_col_visa_df['fw_info_yr_rel_edu_completed'], inplace = True)

In [15]:
#FW is position being sponsored?
small_col_visa_df['ji_offered_to_sec_j_foreign_worker'].fillna(small_col_visa_df['ji_offered_to_sec_j_fw'], inplace = True)

In [16]:
# Wage offered
small_col_visa_df['wage_offer_from_9089'].fillna(small_col_visa_df['wage_offered_from_9089'], inplace = True)

In [17]:
# Unit of Pay for wage offered
small_col_visa_df['wage_offer_unit_of_pay_9089'].fillna(small_col_visa_df['wage_offered_unit_of_pay_9089'], inplace = True)

In [18]:
csv_file = f"{out_file_path}visa_small2.csv"
print(f"Ouput file name: {csv_file}")
small_col_visa_df.to_csv(csv_file, index=False, header=True)

Ouput file name: ../output/visa_small2.csv

# Attempting to calculate an adjusted Yearly wage

In [19]:
csv_file = f"{out_file_path}visa_small2.csv"
print(f"Input file name: {csv_file}")
small_col_visa_df = pd.read_csv(filepath_or_buffer=csv_file, low_memory=False)

Input file name: ../output/visa_small2.csv

In [20]:
#How are they paid?
small_col_visa_df.wage_offer_unit_of_pay_9089.unique()

array(['yr', 'hr', 'mth', 'wk', 'bi', nan, 'Year', 'Hour', 'Week',
       'Month', 'Bi-Weekly'], dtype=object)

In [ ]:
# for index, row in small_col_visa_df.iterrows():
#     if row["wage_offer_unit_of_pay_9089"] == "hr":
#         row["Adj_annual_wage"] = row["wage_offer_from_9089"] * 40 * 50
        
# add the column (Kannan)
small_col_visa_df['Adj_annual_wage'] = [small_col_visa_df['wage_offer_from_9089'] if x =='hr'else 0 for x in small_col_visa_df['wage_offer_unit_of_pay_9089']]

In [ ]:
csv_file = f"{out_file_path}visa_small3.csv"
print(f"Ouput file name: {csv_file}")
small_col_visa_df.to_csv(csv_file, index=False, header=True)

In [ ]:
small_col_visa_df.loc[(small_col_visa_df["wage_offer_unit_of_pay_9089"] == "hr")]

In [ ]:
for index, row in small_col_visa_df.iterrows():
    if row["wage_offer_unit_of_pay_9089"] == "hr":
        row["Adj_annual_wage"] = row["wage_offer_from_9089"] * 40 * 50
        
        # 40 hrs/ week , 50weeks/year
        
        # Goal would be to contiue this for the other wages

In [ ]:
small_col_visa_df.head(5)

In [ ]:
small_col_visa_df.loc[(small_col_visa_df["wage_offer_unit_of_pay_9089"] == "hr")]

In [ ]:
small_col_visa_df[["Adj_annual_wage"]].head(5)

In [ ]:
# Keep Columns -> We can remove the other related columns because they are now duplicates
# case_number
# country_of_citizenship
# foreign_worker_info_birth_country
# foreign_worker_info_postal_code
# foreign_worker_info_rel_occup_exp
# foreign_worker_info_training_comp
# foreign_worker_ownership_interest
# foreign_worker_yr_rel_edu_completed
# ji_offered_to_sec_j_foreign_worker
# wage_offer_from_9089
# wage_offer_unit_of_pay_9089

In [ ]:
slim_visa_db =  small_col_visa_df[["case_number",
                                  "case_status",
                                  "class_of_admission",
                                  "country_of_citizenship",
                                  
                                  "decision_date",
                                  "employer_country",
                                  "employer_num_employees",
                                  "employer_postal_code",
                                  "employer_state",
                                  "employer_yr_estab",
                                  "foreign_worker_info_birth_country",
                                  
                                  "foreign_worker_info_education",
                                  "foreign_worker_info_major",
                                  "foreign_worker_info_postal_code",
                                  
                                  "foreign_worker_info_rel_occup_exp",
                                  
                                  "foreign_worker_info_state",
                                  "foreign_worker_info_training_comp",
                                  
                                  "foreign_worker_ownership_interest",
                                  
                                  "foreign_worker_yr_rel_edu_completed",
                                  
                                  "ji_offered_to_sec_j_foreign_worker",
                                  
                                  "job_info_education",
                                  "job_info_work_postal_code",
                                  "job_info_work_state",
                                  "orig_file_date",
                                  "pw_amount_9089",
                                  "pw_unit_of_pay_9089",
                                  "wage_offer_from_9089",
                                  "wage_offer_unit_of_pay_9089"]]
slim_visa_db.head()

In [ ]:
slim_visa_db.set_index('case_number')

In [ ]:
csv_file = f"{out_file_path}slim_visa_db.csv"
print(f"Ouput file name: {csv_file}")
slim_visa_db.to_csv(csv_file, index=False, header=True)

In [ ]:
# Kannan - added postgres_port
rds_connection_string = f"postgres:{postgres_password}@localhost:{postgres_port}/ETL_Project"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
engine.execute('DELETE from "visa_data"')
result = engine.execute('SELECT * FROM "visa_data"')

slim_visa_db.to_sql(name='visa_data', con=engine, if_exists='append', index=False)

In [ ]:
# Attempts to clean the data

In [ ]:
#Case Number

for index, row in small_col_visa_df.iterrows():
    df['case_number'].fillna(df['case_no'])
    
    if pd.isnull(row['case_number']):
        row['caseNumber'] = row['case_no']

    elif pd.notnull(row['case_number']):
        row['caseNumber'] = row['case_number']
        
    elif pd.isnull(row['country_of_citizenship']):
        row['countryCitizenship'] = row['country_of_citzenship']

    else:
        row['countryCitizenship'] = row['country_of_citizenship']
    
        
small_col_visa_df[["country_of_citizenship","country_of_citzenship","countryCitizenship"]].head()
     
# pd.notnull(row['country_of_citizenship'])

In [ ]:
#Country of Citizenship

for index, row in small_col_visa_df.iterrows():
    if pd.isnull(row['country_of_citizenship']):
        row['countryCitizenship'] = row['country_of_citzenship']

    else:
        row['countryCitizenship'] = row['country_of_citizenship']
        
small_col_visa_df[["country_of_citizenship","country_of_citzenship","countryCitizenship"]].head()

In [ ]:
#Foreign Worker Birth Country

for index, row in small_col_visa_df.iterrows():
    if pd.isnull(row['foreign_worker_info_birth_country']):
        row['birthCountry'] = row['fw_info_birth_country']

    else:
        row['birthCountry'] = row['foreign_worker_info_birth_country']
        
small_col_visa_df[["foreign_worker_info_birth_country", "fw_info_birth_country", "birthCountry"]].head()